.btn {
  color: $color-default-white;
  background-color: $color-alizarin;
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 10px 36px;
  cursor: pointer;
  user-select: none;

  &:disabled {
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $color-carmine;
  }
}
