.messenger {
  padding: 20px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;

  position: absolute;
  top: 287px;
  left: 49%;
  transform: translateX(-50%) translateY(-50%);

  &__link {
    color: $color-nobel;
  }

  &__link--youtube {
    @include hover-focus {
      color: $color-red;
    }
  }

  &__link--vk {
    @include hover-focus {
      color: $color-dodge-blue;
    }
  }

  &__link--telegram {
    @include hover-focus {
      color: $color-summer-sky;
    }
  }
}
