.promo {
  position: relative;

  .container {
    padding: 46px 20px 31px;
    max-width: 600px;
  }

  img {
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    max-width: 360px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 488px;
  }

  &__text-1 {
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: start;
      text-transform: uppercase;
      letter-spacing: -0.7px;
      margin: 0 0 15px;
    }
  }

  &__text-2 {
    justify-self: center;
    display: flex;
    flex-direction: column;
    padding: 23px 27px 20px 27px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid $color-japanese-laurel;
    border-radius: 23px;
    box-shadow: 0 0 10px 0 $color-fruit-salad;

    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: start;
      letter-spacing: -0.5px;
      margin: 0 0 18px;
    }
  }

  &__button {
    padding: 10px 27px;
  }
}
