.tabs {
  max-width: 100%;

  &__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 0 35px;
  }

  &__control {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $color-default-white;

    border: 3px solid $color-nobel;
    border-radius: 5px;
    background-color: $color-transparent;
    padding: 0 11px;
    cursor: pointer;

    @include hover-focus {
      color: $color-nero;
      background-color: $color-nobel;
    }

    &.is-active {
      color: $color-nero;
      background-color: $color-nobel;
    }
  }

  &__element {
    width: 100%;

    p {
      margin: 0;
    }
  }
}


.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
