.toggle {
  width: 30px;
  padding: 0 0 0 5px;
  transform: none;
  transition: transform 0.3s ease-in-out;

  &.is-opened {
    padding: 0;
    transform: scaleY(-1);
  }
}

.toggle__closed {
  display: none;
}

.toggle__opened {
  display: block;
}

.toggle.is-opened .toggle__opened {
  display: none;
}

.toggle.is-opened .toggle__closed {
  display: block;
  width: 30px;
  height: 30px;
}
