// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
$color-black-bean:                  #111311;
$color-nero:                        #212121;
$color-alizarin:                    #DD3037;
$color-carmine:                     #901016;
$color-forest-green:                #21A038;
$color-nobel:                       #999999;
$color-gainsboro:                   #D9D9D9;
$color-stack:                       #888988;
$color-japanese-laurel:             #36853B;
$color-myrtle:                      #255424;
$color-fringy-flower:               #B6FFBA;
$color-fruit-salad:                 #4FB756;

// Gradient
$black-gradient:                    linear-gradient(270.12deg, rgba(0, 0, 0, 0) 6.07%, rgba(0, 0, 0, 0.7) 99.89%);

// Typography
$fz-default:                        16px;

$ff-default:                        "Gotham Pro", "Arial", sans-serif;
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-360:                            360px;
$vp-992:                            992px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
